{{define "base.html"}}
  <!DOCTYPE html>
  <html>
    <head>
      <title>{{template "title" .}}</title>
      <meta http-equiv="X-UA-Compatible" content="IE-edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/static/fonts/beyond_the_mountains-webfonts.css" type="text/css" />
      <link href="/static/plugin-frameworks/bootstrap.min.css" rel="stylesheet">
      <link href="/static/plugin-frameworks/swiper.css" rel="stylesheet">
      <link href="/static/fonts/ionicons.css" rel="stylesheet ">
      <link href="/static/common/styles.css" rel="stylesheet ">
    </head>
    <body>

      {{template "body" .}}

      <footer class="pb-50">
        <div class="container-fluid">
          <a href="#"><img src="static/images/heading_logo.png" alt="Logo" width="50" height="50"></a>

          <ul class="icon mt-30">
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
            <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
          </ul>
          
          <p class="color-light font-9 mt-50 mt-sm-30">
            Copyright <script>document.write(new Date().getFullYear());</script> All Right reserved | this template is made with <i class="ion-heart" aria-hidden="true"></i>
            <a href="#" target="_blank">Love</a>
          </p>
        </div>
      </footer>
      <script src="static/plugin-frameworks/jquery-3.2.1.min.js"></script>
      <script src="static/plugin-frameworks/bootstrap.min.js"></script>
      <script src="static/plugin-frameworks/swiper.js"></script>
      <script src="static/common/script.js"></script>
    </body>
  </html>
{{end}}